section#tecnologias {
    padding-top: 70px;
    padding-bottom: 70px;
}

section#about {
    padding-bottom: 0px;
    margin-top: 20px;
}

img.logo-principal {
    border-radius: 50%;
    height: 215px;
    width: 215px;
    margin-bottom: 20px;
    box-shadow: 6px 9px 20px 0px black;
}

#img-portfolio {
    height: 100%;
}